
.modalBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay-bg);
  z-index: 10;
}

.modal {

  margin: 0px 0px 0px 0px;

  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);

  z-index: 10;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 420px;
  max-width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--panel-bg-color);
}
