.container {
	display: flex;
	flex-direction: row;
}

.box {
	border-style: solid;
	border-color: rgba(255, 255, 255, 0);
	border-width: 2px;
	text-align: center;
	vertical-align: middle;


}

.boxNoHover {
	border-style: solid;
	border-color: rgba(255, 255, 255, 0);
	border-width: 2px;
	text-align: center;
	vertical-align: middle;
}

.box:hover {
	border-style: solid;
	border-color: rgba(200, 200, 200, .8);
	border-width: 2px;
	z-index: 1;
}

.boxSelected {
	border-style: solid;
	border-color: rgba(200, 200, 200, .8);
	border-width: 2px;
	z-index: 1;
}

.sortableHelper {
	z-index: 11;
}
ul
{
	margin:0;
	padding:0;
}
.compass
{
	border: 0px solid yellow;
	max-width: 120px;
	width:120px;
	display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);

		font-size:smaller;
		margin:0px;

}
.inputContainer
{
	width:180px;
	max-width: 180px;
	justify-content: left;
	margin:0px;
display:grid;
gap: 1px;
grid-template-columns: repeat(2, 1fr);
	border:1px dotted #333;
}
.tabTextEditor
{


	width:30px;

}
.tabTextEditor input
{

	width:80%;

}
.tabName
{
	border: 1px solid #fff;
	border-radius:2px;
	width:30px;
}